# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=070ce541-3489-48e3-96bb-e403918ac40d

    # Set to true to disable all reporting
    B:opt-out=false
}


